<footer>
    <!-- /container -->
    <div class="footer-bottom" style="background-color: #223E6E;">
        <div class="container ">
            <div>
                <p style="color: #fff; margin-top: 30px;">
                    Contractor License #: 1063361 <br>
                    Insured & Bonded
                </p>
                <small class="copyright pull-left text-white">
                    <a class="text-white copyright" href="https://calductcleaning.com/">www.calductcleaning.com</a>
                    © 2021 | All Rights Reserved |
                    Chimney & Dryer Vent Cleaning Service</small>
            </div>

        </div>
        <!-- /container -->
    </div>
    <!-- footer-bottom -->
</footer>