{% load static %}
<nav id="mainNav" class="main-nav menu-light navbar-fixed-top" style="border:none; ">
    <div class="container">
        <div class="navbar">

            <div class="brand-logo">
                <a class="navbar-brand" href="#">
                    <img src="{% static 'images/logo/logo.png' %}" alt="Exort" />
                </a>
            </div>
            <!-- brand-logo -->

            <div class="inner-nav right-nav">
                <ul>



                    <li class="navbar-toggle">
                        <button type="button" data-toggle="collapse" data-target=".collapse">
                            <span class="sr-only"></span>
                            <i class="ti-menu"></i>
                        </button>
                    </li>
                    <!-- /collapse-menu -->

                </ul>

            </div>

            <div class="custom-collapse navbar-collapse collapse inner-nav ">
                <ul class="nav navbar-nav">

                    <!-- /dropdown -->

                    <li>
                        <a href="#service" class="nav_link">
                            Services
                        </a>

                    </li>
                    <!-- /dropdown -->

                    

                    <li>
                        <a href="#about" class="nav_link">

                            Company

                        </a>

                    </li>
                    <!-- /dropdown -->

                    <li>
                        <a href="#faq" class="nav_link">

                            FAQ

                        </a>
                    </li>
                    <!-- /dropdown -->
                    <li>
                        <a href="#review" class="nav_link">

                            Reviews

                        </a>

                    </li>
                    <!-- /dropdown -->

                    <li>
                        <a href="#contact" class="nav_link">

                            Contact

                        </a>

                    </li>
                    <!-- /dropdown -->

                    <li class="ml-3">
                        <span style="padding: 0px 15px;
                        margin: 25px 0;
                        display: block;">
                            <i style="color: #F63131; font-size: 20px; font-weight: bold;" class="fa fa-phone"></i>
                            <span style="color:#000;font-size: 15px;
                    font-weight: bold;font-family:'Montserrat';">+1 (408) 6550609</span>
                        </span>

                    </li>
                </ul>

                <!-- /nav -->
            </div>
            <!-- /collapse -->
        </div>
        <!-- /navbar -->
    </div>
    <!-- /container -->
</nav>