<section id="review" class="bgGrey">
    <div class="container">
        <div class="title" style="display: flex; align-items: center;">
            <img src="./images/yelp.png" alt="" style="margin-right: 22px;">
            <h1>Reviews</h1>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <script src="https://apps.elfsight.com/p/platform.js" defer></script>
                <div class="elfsight-app-00dfe9bf-7783-44f2-a7ae-c6b7403e5a84"></div>
            </div>
        </div>
    </div>
</section>