<section id="service" class="bgGrey">
    <div class="container">
        <div class="title">
            <h1>Services</h1>
            <p>
                We are specialized in cleaning services such as Chimney cleaning, Dryer vent <br>
                cleaning and air duct cleaning.
            </p>
        </div>
        <div class="owl-carousel owl-theme testi">

            <!-- Single Ends -->
           

            {% for item in service %}
            <div class="item">

                <div class="service-box">
                    <img src="{{ item.img.url }}" alt="{{item.title}}">
                    <h3>{{item.title}}</h3>
                    <p class="service-box_text">
                        {{item.content}}
                    </p>

                    <div class="service-box_info">
                        <span>${{ item.price }}</span>
                        <a href="#"><i class="fa fa-long-arrow-right"></i></a>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>