<section id="slider" style="padding: 0;">
    <div class="slider">

        <div class="slide current ">
            <div class="container">

                <div class="row ">
                    <div class="col-md-8 col-sm-8">
                        <div>
                            <h1 class="slide-title">
                                CHIMNEY CLEANING
                                SERVICE IN BAY AREA</h1>
                            <p class="slide-text">
                                Our certified technicians will help you to clean your chimney. <br>
                                Guaranteed Quality - serving San Francisco Bay Area and San Diego for over 11 years!
                            </p>
                        </div>

                        <div class="form-page">
                            <h5 class="form-page-title">
                                Get quote during 20 minute
                            </h5>
                            <form class="form"
                                action="https://book.housecallpro.com/book/Cal-Duct-Cleaning-LLC/d1b70d2f683d4db4927c74a5fcf73052">
                                <div class="form-row">

                                    <div class="form-group">
                                        <input type="text" name="name" class="form-control border-control"
                                            placeholder="Your Name">
                                    </div>

                                    <div class="form-group">
                                        <input type="tel" name="phone" placeholder="Your phone"
                                            pattern="[0-9]{3}-[0-9]{2}-[0-9]{3}" class="form-control border-control"
                                            required>
                                    </div>

                                    <div class="form-group">
                                        <input type="text" name="zip" class="form-control border-control"
                                            placeholder="ZIP">
                                    </div>

                                    <div class="form-group">
                                        <input type="submit" class="form-control form-submit border-control"
                                            value="Request">
                                    </div>
                                </div>

                            </form>
                        </div>


                        <div>
                            <div class="ourStart">
                                <img style="margin-right: 15px;" src="./images/yelp.png" alt="yelp">
                                <img src="./images/star.png" alt="star">
                                <img src="./images/star.png" alt="star">
                                <img src="./images/star.png" alt="star">
                                <img src="./images/star.png" alt="star">
                                <img src="./images/star.png" alt="star">
                            </div>
                            <h3 style="color: #223E6E; margin: 10px;">We are five star business</h3>
                        </div>

                    </div>

                    <div class="col-md-4 col-sm-4 slider_img ">
                        <img style="position: absolute;
                        object-fit: cover;
                        min-width: 100%;
                        top:50px;
                        right: -125px;" src="./images/carusel/adam.jpg" alt="">
                    </div>



                </div>


                <div class="row">

                    <div class="col-md-4 col-sm-4 col-xs-4">
                        <div class="carusel">
                            <img class="carusel_img" src="./images/carusel/1.jpg" alt="1.jpg">
                            <div class="carusel-box">
                                <h4>Discount for Chimney
                                    cleaning in Gilroy</h4>
                            </div>
                        </div>



                    </div>
                    <div class="col-md-4 col-sm-4 col-xs-4">
                        <div class="carusel">
                            <img class="carusel_img" src="./images/carusel/2.jpg" alt="2.jpg">

                            <div class="carusel-box">
                                <h4>
                                    Free chimney cap
                                    installation
                                </h4>
                            </div>
                        </div>


                    </div>
                    <div class="col-md-4 col-sm-4 col-xs-4">
                        <div class="carusel">
                            <img class="carusel_img" src="./images/carusel/3.jpg" alt="3.jpg">

                            <div class="carusel-box">
                                <h4>
                                    Free dryer inspection
                                </h4>
                            </div>
                        </div>


                    </div>
                </div>

            </div>
        </div>


        <div class="slide ">
            <div class="container">

                <div class=" row">
                    <div class="col-md-8 col-sm-8">
                        <div>
                            <h1 class="slide-title">
                                DRYER VENT CLEANING SERVICE IN BAY AREA
                            </h1>
                            <p class="slide-text">
                                Our certified technicians will help you to clean your chimney. <br>
                                Guaranteed Quality - serving San Francisco Bay Area and San Diego for over 11 years!
                            </p>
                        </div>

                        <div class="form-page">
                            <h5 class="form-page-title">
                                Get quote during 20 minute
                            </h5>
                            <form class="form"
                                action="https://book.housecallpro.com/book/Cal-Duct-Cleaning-LLC/d1b70d2f683d4db4927c74a5fcf73052">
                                <div class="form-row">

                                    <div class="form-group">
                                        <input type="text" name="name" class="form-control border-control"
                                            placeholder="Your Name">
                                    </div>

                                    <div class="form-group">
                                        <input type="tel" name="phone" placeholder="Your phone"
                                            pattern="[0-9]{3}-[0-9]{2}-[0-9]{3}" class="form-control border-control"
                                            required>
                                    </div>

                                    <div class="form-group">
                                        <input type="text" name="zip" class="form-control border-control"
                                            placeholder="ZIP">
                                    </div>

                                    <div class="form-group">
                                        <input type="submit" class="form-control form-submit border-control"
                                            value="Request">
                                    </div>
                                </div>

                            </form>
                        </div>


                        <div>
                            <div class="ourStart">
                                <img style="margin-right: 15px;" src="./images/yelp.png" alt="yelp">
                                <img src="./images/star.png" alt="star">
                                <img src="./images/star.png" alt="star">
                                <img src="./images/star.png" alt="star">
                                <img src="./images/star.png" alt="star">
                                <img src="./images/star.png" alt="star">
                            </div>
                            <h3 style="color: #223E6E; margin: 10px;">We are five star business</h3>
                        </div>

                    </div>


                    <div class="col-md-4 col-sm-4 slider_img ">
                        <img style="
                        width: 100%;
                        " src="./images/carusel/girls.jpg" alt="">
                    </div>




                </div>

                <div class="row">

                    <div class="col-md-4 col-sm-4 col-xs-4">
                        <div class="carusel">
                            <img class="carusel_img" src="./images/carusel/1.jpg" alt="1.jpg">
                            <div class="carusel-box">
                                <h4>Discount for Chimney
                                    cleaning in Gilroy</h4>
                            </div>
                        </div>



                    </div>
                    <div class="col-md-4 col-sm-4 col-xs-4">
                        <div class="carusel">
                            <img class="carusel_img" src="./images/carusel/2.jpg" alt="2.jpg">

                            <div class="carusel-box">
                                <h4>
                                    Free chimney cap
                                    installation
                                </h4>
                            </div>
                        </div>


                    </div>
                    <div class="col-md-4 col-sm-4 col-xs-4">
                        <div class="carusel">
                            <img class="carusel_img" src="./images/carusel/3.jpg" alt="3.jpg">

                            <div class="carusel-box">
                                <h4>
                                    Free dryer inspection
                                </h4>
                            </div>
                        </div>


                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="buttons">
        <button id="prev">   < </button>
          
                <button id="next">></button>
    </div>
    <!-- /tp-banner-container -->
</section>